.header__menu {
    display: flex;
    border-bottom: 1px solid #1E2D3D;
    background: transparent;
}

.header {
    flex: 0 0 auto;
}


.li {
    display: block;
    min-width: 150px;
    text-align: center;
    font-size: 16px;
    font-weight: 450;
    line-height: 21px;
    border-right: 1px solid #1E2D3D;
}


.li:first-child {
    padding-right: 150px;
    min-width: 311px;
    pointer-events: none;
}


.li:last-child {
    margin-left: auto;
    border-right: none;
    border-left: 1px solid #1E2D3D;
}