.header__menu {
    display: flex;
    border-bottom: 1px solid #1E2D3D;
    background: transparent;
}

.header {
    flex: 0 0 auto;
}



.li {
    display: block;
    min-width: 150px;
    text-align: center;
    font-size: 16px;
    font-weight: 450;
    line-height: 21px;
    border-right: 1px solid #1E2D3D;
}


.li:first-child {
    padding-left: 25px;
    min-width: 300px;
    border-right: 1px solid #1E2D3D;
    font-size: 16px;
    font-weight: 450;
    line-height: 57.8px;
    color: #607B96;
    align-self: center;
    text-align: left;
}


.li:last-child {
    margin-left: auto;
    border-right: none;
    border-left: 1px solid #1E2D3D;
}

.textName {
    padding-left: 20px;

}