.wrapper {
    background: #011627;
    display: flex;
    min-height: 90vh;
    min-width: 90vw;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid #1E2D3D;
}

.main {
    flex: 1 0 auto;
}