.button {
    cursor: pointer;
    translate: 0.2s;
}

.button:hover {
    border: 1px solid #fff;
    translate: 0.2s;
}

.button__submitMessage,
.button__thanks {
    background: #1C2B3A;
    height: 38px;
    width: 170px;
    border-radius: 8px;
    padding: 10px 14px 10px 14px;
    font-size: 14px;
    font-weight: 450;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}