.snippet_title{
    margin-bottom: 58px;
}

.snippet_header{
display: flex;
justify-content: space-between;
}

.snippet_headerLeft{
    display: flex;
}

.divTeg{
display: flex;
flex-direction: column;
}


.snippet_headerRight{
    display: flex;
    flex-direction: row;
}

.ava {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.moreInfo{
    margin-top: 20px;
    border-top: 1px solid #1E2D3D;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}