.Icon {
    width: 20px;
    height: 20px;
    translate: 0.3s;
    margin-left: 5px;
}


.Icon:hover {
    filter: brightness(10);
    translate: 0.3s;
}

.link__footer {
    display: block;
    margin-right: 10px;
    color: #607b96;
}