.Icon {
    width: 20px;
    height: 20px;
    translate: 0.3s;
    margin-left: 5px;
}


.Icon:hover {
    filter: brightness(10);
    translate: 0.3s;
}

.link__footer {
    display: block;
    margin-right: 10px;
    color: #607b96;
}


/* поменять тему сайта */

:root {
    --color: #607B96;
    --filter-i: brightness(10);
}

html[data-theme="light"] {
    --color: #011627;
    --filter-i: brightness(50%);
}

.link__footer {
    color: var(--color)
}

.Icon:hover {
    filter: var(--filter-i)
}