.footer {
    flex: 0 0 auto;
    border-top: 1px solid #1E2D3D;
}

.footer__menu {
    display: flex;
    align-items: center;
    background: transparent;
}

.footer__menu>li {
    border-right: 1px solid #1E2D3D;
    border-top: none;
    min-width: 52px;
    padding: 15px 20px;
    text-align: center;
}

.footer__menu>li:first-child {
    border-left: none;
}


.footer__menu>li:last-child {
    display: flex;
    min-width: 150px;
    margin-left: auto;
    border-right: none;
    border-left: 1px solid #1E2D3D;
}


.findMe {
    font-size: 16px;
    font-weight: 450;
    line-height: 24px;
    color: #607B96;
}

.btnTheme {
    border-radius: 8px;
    padding: 10px 14px 10px 14px;
    font-size: 14px;
    font-weight: 450;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    margin-left: auto;
    cursor: pointer;
    background: #1C2B3A;
}

/* поменять тему сайта */

:root {
    --color: #607B96;
}

html[data-theme="light"] {
    --color: #011627;
}

.findMe {
    color: var(--color)
}